.x-image {
  display: inline-block;
  position: relative;
  overflow: hidden;

  .x-image-href {
    text-decoration: none;
  }

  .x-image-pic {
    position: absolute;
    left: 0;
    top: 0;
  }
}
