.x-upload-body {
  display: block;
  width: 100%;
  height: 100%;

  .x-upload-item {
    display: table;
    float: left;
    width: 102px;
    height: 102px;
    padding: 8px;
    border: 1px solid #d0d0d0;
    box-sizing: border-box;
    margin: 0px 8px 8px 0px;

    .x-upload-item-img {
      position: relative;
      display: table-cell;
      overflow: hidden;
      vertical-align: middle;
      text-align: center;

      .x-upload-item-mask {
        display: none;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.5);
        color: rgba(255, 255, 255, .7);
        font-weight: 100;

        &.x-upload-item-mask-show {
          display: block;
        }

        .x-upload-item-mask-body {
          display: table;
          width: 100%;
          height: 100%;

          .x-upload-item-mask-inner {
            display: table-cell;
            vertical-align: middle;
            font-size: 13px;

            i {
              margin: auto 5px;
              cursor: pointer;

              &:hover {
                color: rgba(255, 255, 255, .85);
              }
            }
          }
        }
      }

      img {
        display: inline-block;
        max-width: 84px;
        max-height: 84px;
        vertical-align: middle;
      }
    }

    .x-upload-add-input {
      position: absolute;
      text-indent: -10000px;
      cursor: pointer;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
    }

    &.x-upload-item-reupload {
      cursor: pointer;
    }

    &.x-upload-error {
      border: 1px solid #cf4c35;

      .x-upload-item-mask {
        display: block;
        color: #cf4c35;
        font-weight: 500;

        .x-upload-item-mask-inner {

          .x-upload-error-text {

          }

          .x-upload-error-btns {
            margin-top: 3px;
            color: rgba(255, 255, 255, .7);
          }
        }
      }
    }
  }

  .x-upload-add-item {
    position: relative;
    cursor: pointer;

    .x-upload-add-body {
      display: table-cell;
      vertical-align: middle;
      width: 100%;
      text-align: center;
      color: #666666;

      .x-upload-add-icon {
        display: block;
      }

      .x-upload-add-text {
        display: block;
        margin-top: 8px;
        font-size: 14px;
      }
    }
  }
}

.x-upload-button {
  .x-upload-input {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    left: 4px;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    text-indent: -10000px;
  }
}
